<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Propolis Social</title>
    <script src="/static/htmx.min.js"></script>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body class="w-full h-full">
    <div class="flex flex-row justify-center">
      <main class="w-144 pt-2">
        <header class="sticky">
          <h1 class="text-2xl font-bold">Propolis</h1>
        </header>
        <section class="flex flex-row">
          <div class="w-24"></div>
          <div class="w-full">
            <textarea
              class="w-full h-32 p-2 border-2 border-gray-300 rounded-lg resize-none"
              placeholder="Fill the world with wonder&hellip;"
            ></textarea>
            <button>Post</button>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
